<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>140933934319-tjvrfbi53ldggsuslg0jvf6q5peeo9qv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.140933934319-tjvrfbi53ldggsuslg0jvf6q5peeo9qv</string>
	<key>API_KEY</key>
	<string>AIzaSyCSUv1PAi5xsfuEkspFjCGu9mqd587PiuY</string>
	<key>GCM_SENDER_ID</key>
	<string>140933934319</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.labAssignment</string>
	<key>PROJECT_ID</key>
	<string>in-lab-assignment</string>
	<key>STORAGE_BUCKET</key>
	<string>in-lab-assignment.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:140933934319:ios:669b0a745c94c15d66ff1a</string>
</dict>
</plist>